

table{
		width:100%; 
		border-collapse:collapse; 
    margin-top:2%;
    background-color:#0F0F0F;
    border:1px solid #2D2D2D;
}


table tr:nth-child(even){
  background-color: #2D2D2D;
 }

table .data-row:hover {
  background-color: #F2F2F2;
  color:black;
  }

table-data{
  color:#868E96;
  text-align:right;
  padding-right:25px;
}

table th{
  color:#FF4C8B;
  letter-spacing: 0.857143px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}

table th, td{ 
  padding:20px 25px 20px 25px;
}





